<!DOCTYPE html>
<html lang="en">

<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="card border-primary text-center">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">

            <ul class="list-group">
                <li class="list-group-item">
                    <a th:href="@{/empresaAdmin/registrar}"> Registrar empresa</a>
                </li>
                <li class="list-group-item">
                    <a th:href="@{/empresaAdmin/asignarproducto}"> Asignar producto</a>
                </li>
                <li class="list-group-item">
                    <a th:href="@{/producto/registrar}"> Registrar producto</a>
                </li>
            </ul>

        </div>
    </div>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>